:root {
  /* Dark theme color variables */
  --theme-text: #fff;
  --theme-title: #fff;
  --theme-primary: #b5ff6b;
  --theme-secondary: #383838;
  --theme-tertiary: #fff;
  --theme-border: #222;
  --theme-card: #111;
  --theme-background: #000;

  /* Font variables */
  --theme-font-family: Helvetica, Arial, sans-serif;
  --theme-font-size: 16px;

  color: var(--theme-text);
  background-color: var(--theme-background);
  border-color: var(--theme-border);
  font-family: var(--theme-font-family);
  font-size: var(--theme-font-size); 
}
