@import url("../../styles/re-nostr-input.css");

:host {
  display: flex;
  flex-direction: column;
  border: var(--theme-border-width) solid var(--theme-border-color);
  border-radius: var(--theme-border-radius);
  padding: var(--theme-padding);
}

#noteEditorInput {
  height: auto;
  margin: 0px;
  padding: 0px;
  border: none;
  background-color: var(--theme-background-color);
}
